body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn {
  padding: 20px 40px;
  border-radius: 8px;
  background-color: pink;
  font-size: 32px;
  border: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  overflow: hidden;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: greenyellow;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 200px;
  height: 200px;
}
